body {
background-color: #58D68D;
margin: 0px;
font-family: arial;
font-size: 15px;
}


#header {
background-color: #aed6f1;
margin: 10px;
height: 140px;
border-radius: 2.5px;
text-align:center
}

#navbar  {
background-color: #17202a;
margin: 10px;
border-radius:5px;
}


#navbar ul {
padding:5px;
list-style-type:none;
text-align:center;
background-color: #000
margin:10px;
border-radius:2.5px;
}

#navbar ul li {
display: inline
}

#navbar ul li a {
text-decoration: none;
font-family:arial;
padding: .2em lem;
color:#fff;
background-color:#000
}

.main {
background-color: #f4d03f;
margin:10px;
border-radius:2.5px;
padding:25px;
font-size:120%;
padding: 20px;
}


h1 {
font-size: 300%;
text-align:center;
color:#212f3d;
font-family:arial;
margin:0px;

  position: relative;
   top: 50%;
   -webkit-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
  
}